In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from numpy import random

import scipy
from scipy import stats
from scipy.stats import binom,poisson,norm,t

import pylab
from pylab import legend, plot, show ,title, xlabel, ylabel

import statsmodels
from statsmodels import stats
from statsmodels.stats import weightstats as ssw

import statsmodels.api as sm
from statsmodels.formula.api import ols
import statsmodels.stats.multicomp

In [3]:
x1=[4,6,8,3,9,7,3,2,7,8]

In [4]:
len(x1)

10

In [5]:
np.mean(x1)

np.float64(5.7)

In [6]:
ssw.ztest(x1,value=6.1,alternative='smaller') #smaller since the value is less than the null hypothesis 
# which is value should greater than or equal to 6.1

(np.float64(-0.5066403971048982), np.float64(0.306203579065079))

In [7]:
#(test statistic, p-value)

In [8]:
#pvalue = 0.306>0.05 so we do not reject the HO

In [9]:
#the diff between 5.7(sample mean) and 6.1(claim value or population parameter) is statistically 
# insignificant or can be ignored and so no action is needed.

In [10]:
ssw.ztest(x1,value=7.5,alternative='smaller')

(np.float64(-2.279881786972045), np.float64(0.011307350269273653))

In [11]:
#pvalue = 0.011<0.05 so we reject the HO

In [12]:
#the diff between 5.7(sample mean) and 7.5(claim value or population parameter) is statistically 
# significant or cannot be ignored and so action is needed.

In [13]:
ssw.ztest(x1,value=7,alternative='smaller')

(np.float64(-1.6465812905909212), np.float64(0.04982206933009018))

In [14]:
#pvalue = 0.049<0.05 so we reject the HO

In [15]:
#the diff between 5.7(sample mean) and 7(claim value or population parameter) is statistically 
# significant or cannot be ignored and so action is needed.

In [16]:
ssw.ztest(x1,value=4.8,alternative='larger')  #larger values than 4.8 will be a problem

(np.float64(1.139940893486023), np.float64(0.12715546332491617))

In [17]:
ssw.ztest(x1,value=3,alternative='larger')  #larger values than 3 will be a problem

(np.float64(3.4198226804580676), np.float64(0.000313309832333736))

In [18]:
#Calculation-
t.ppf(.05,9)

np.float64(-1.8331129326536337)

In [19]:
5.7+1.8331*np.std(x1,ddof=1)/10**.5  #95% upper bound

np.float64(7.147259247762243)

In [20]:
ssw.ztest(x1,value=7,alternative='smaller')

(np.float64(-1.6465812905909212), np.float64(0.04982206933009018))

In [21]:
ssw.ztest(x1,value=7.147259247762243,alternative='smaller')

(np.float64(-1.8330999999999995), np.float64(0.03339385056536337))

In [22]:
ssw.ztest(x1,value=7,alternative='smaller')

(np.float64(-1.6465812905909212), np.float64(0.04982206933009018))

# 1-sample Z-test(only for continuous data)
- The purpose of the 1-sample z-test is to compare the sample mean with the claim value(this is given).
- sample mean will be calculated.
-

# 2-Sample Z-test
- My claim is tha the speed in Delhi is atleast 10kmph more than that in Banglore.
- Ho: mean(Delhi) - mean(Banglore) >= 10
- Ho: mean(Delhi) - mean(Banglore) < 10

In [23]:
delhi=[25,30,28,27,35,25,31,20,29,28]
blore=[18,25,23,18,22,21,23,17,20]

In [24]:
ssw.ztest(delhi,blore,value=10,alternative='smaller')

(np.float64(-1.8656044049252152), np.float64(0.03104836644546031))

In [25]:
np.mean(delhi)-np.mean(blore)

np.float64(7.022222222222222)

In [26]:
ssw.ztest(delhi,blore,value=10,alternative='smaller')

(np.float64(-1.8656044049252152), np.float64(0.03104836644546031))

In [27]:
ssw.ztest(delhi,blore,value=9,alternative='smaller')

(np.float64(-1.2390954629727176), np.float64(0.10765507351945708))

In [28]:
#My clain is that max difference between means of samples1 and sample 2 is at max 0.5.

In [29]:
# Ho mean(sample1) - mean sample 2 <= 0.5
# Ha mean(sample1) - mean sample 2 > 0.5

In [30]:
s1=np.random.randint(20,60,15)
s2=np.random.randint(20,60,20)

In [31]:
s1

array([29, 38, 40, 44, 51, 58, 41, 28, 35, 47, 49, 35, 54, 47, 23],
      dtype=int32)

In [32]:
s2

array([54, 22, 50, 31, 22, 48, 21, 49, 59, 40, 46, 33, 52, 51, 35, 33, 35,
       53, 58, 25], dtype=int32)

In [33]:
np.mean(s1)-np.mean(s2)

np.float64(0.4166666666666643)

In [34]:
ssw.ztest(s1,s2,value=0.5,alternative='larger')

(np.float64(-0.020973363924837646), np.float64(0.5083665482450462))

In [35]:
# Question-1

# The WHO guidelines say that the concentration of a pollutant A should be limited to 75 units. A sample of readings was collected over some days. The readings are as below.

# 81.6, 66.6, 70.9, 82.5, 58.3, 71.6, 72.4, 96.6, 78.6, 76.1, 80.0, 73.2, 85.5, 73.2, 68.6, 74.0, 68.7, 83.0, 86.9, 94.9, 75.6, 77.3, 86.6, 71.7, 88.5, 87.0, 72.5, 83.0, 85.8, 74.9, 61.7, 92.2

# Are these readings meeting the WHO guidelines or any action needs to be taken. Calculate the upper or lower bound as the case may be and explain how that reading helps you in decision making.
 
# What is the minimum reduction in the pollution levels would you recommend if the readings are not meeting the WHO guidelines.

ls=np.array([81.6, 66.6, 70.9, 82.5, 58.3, 71.6, 72.4, 96.6, 78.6, 76.1, 80.0, 73.2, 85.5, 73.2, 68.6, 74.0, 68.7, 83.0, 86.9, 94.9, 75.6, 77.3, 86.6, 71.7, 88.5, 87.0, 72.5, 83.0, 85.8, 74.9, 61.7, 92.2])
print('Sample size-',len(ls))
#sample size=32

print('Sample Mean-',np.mean(ls))


#ho- <=75
#ha - >75

#error on right side hence it is a right tail test.

# we must ensure that our value is as much as possible towards the left side in this case.

# so we find 95% lower bound
(z,p)=ssw.ztest(ls,value=75,alternative='larger')

print('z=',z)
print('p=',p)

# whichever side we have that error we find the area under that part 
t.sf(z,31)

Sample size- 32
Sample Mean- 78.125
z= 1.9248780907751957
p= 0.027122305728334357

np.float64(0.031731787893457215)

In [36]:
# Question-2

# CDAC Kharghar claims that the average salary offered to their students is atleast 1.4 LPA more than the Juhu center. To check this claim following data was collected from some students at both centers. Do these numbers justify claim made by Kharghar office.

# Kharghar = 3.7,4.5,6.8,3.5,4.25.6,4,1,3.9
# Juhu = 4.6,5.2,3.7,2.9,4.2,3.6,4.1,3.74.6,5.2,3.7,2.9,4.2,3.6,4.1,3.7

# What is the maximum difference that can be expected between the salaries of the two centers.

kh=[3.7,4.5,6.8,3.5,4.2,5.6,4.1,3.9]
jh=[4.6,5.2,3.7,2.9,4.2,3.6,4.1,3.7]

ssw.ztest(kh,jh,value=1.4,alternative='smaller')

(np.float64(-1.8525337707152358), np.float64(0.03197460641107757))

In [37]:
np.mean(kh)-np.mean(jh)

np.float64(0.5374999999999996)

In [38]:
#The difference is statistically significant because pvalue= 0.03<0.05

In [39]:
#UB

In [40]:
# h0 avg(kh)-avg(jh)>=1.4
# ha                 <1.4

kh = [3.7,4.5,6.8,3.5,4.2,5.6,4.1,3.9]
jh = [4.6,5.2,3.7,2.9,4.2,3.6,4.1,3.7]

ssw.ztest(kh,jh,value=1.4,alternative='smaller')

(np.float64(-1.8525337707152358), np.float64(0.03197460641107757))

In [41]:
# (z,pvalue)
# pvalue 0.031<0.05
# so we reject the null hypothesis

# Test 3

In Paired t test we find the average of the difference with a claim value

In [42]:
#The company claims that since people started working from home there has been an
# average decrease of atleast 0.8mins in completing thing the particular task

In [43]:
bef_cov=np.array([12.5,13.2,15.6,9.8,10.4,12.6])
aft_cov=np.array([11.6,13.5,14.8,10.6,10.2,11.4])

In [44]:
len(bef_cov)

6

In [45]:
len(aft_cov)

6

In [46]:
np.mean(bef_cov-aft_cov)

np.float64(0.3333333333333333)

In [47]:
ssw.ttost_paired(bef_cov,aft_cov,low=0.8,upp=0.8)

(np.float64(0.9001907149476014),
 (np.float64(-1.4773720121759466),
  np.float64(0.9001907149476014),
  np.float64(5.0)),
 (np.float64(-1.4773720121759466),
  np.float64(0.09980928505239861),
  np.float64(5.0)))

In [48]:
#ignore first output value in all cases
#left tail test - 3rd output(is the error)
#-1.47 is the t-test value (statistics )
#right tail test - 2nd output(is the error)

In [49]:
# 0.09>0.05 we do note reject null hypothesis

In [50]:
# (Mean-cv)/sd/sqrt(n)

In [51]:

ssw.ztest(kh,jh,value=1,alternative='smaller')

(np.float64(-0.9933876741516486), np.float64(0.1602605329943651))

In [52]:
NR=np.mean(kh)-np.mean(jh)-1.4

In [53]:
s1=np.std(kh,ddof=1)

In [54]:
n1=len(kh)

In [55]:
s2=np.std(jh,ddof=1)

In [56]:
n2=len(jh)

In [57]:
sp=(((s1**2)*(n1-1)+(s2**2)*(n2-1))/(n1+n2-2))**0.5

In [58]:
sp

np.float64(0.9311571142554684)

In [59]:
A=(1/n1+1/n2)**0.5
A

0.5

In [60]:
DR=sp*A

In [61]:
TS=NR/DR
TS

np.float64(-1.8525337707152358)

In [62]:
t.cdf(TS,len(kh)+len(jh)-2)

np.float64(0.042573648709279106)

In [63]:
norm.cdf(TS)

np.float64(0.03197460641107757)

Test 4 Anova(Analyis of variance) -used for multiple samples(more than 2)

h0: all the pair of samples have equal means<br>
ha: atleast one of the pair of samples have unequal means.

In [64]:
city=np.repeat(['MUM','DLI','BLR'],[6,5,7])
marks= [34,57,63,45,50,62,34,37,52,43,47,68,76,50,48,57,48,50]
d1 = {'City':city, 'Marks':marks}

In [65]:
city

array(['MUM', 'MUM', 'MUM', 'MUM', 'MUM', 'MUM', 'DLI', 'DLI', 'DLI',
       'DLI', 'DLI', 'BLR', 'BLR', 'BLR', 'BLR', 'BLR', 'BLR', 'BLR'],
      dtype='<U3')

In [66]:
df = pd.DataFrame(d1)

In [67]:
df

   City  Marks
0   MUM     34
1   MUM     57
2   MUM     63
3   MUM     45
4   MUM     50
5   MUM     62
6   DLI     34
7   DLI     37
8   DLI     52
9   DLI     43
10  DLI     47
11  BLR     68
12  BLR     76
13  BLR     50
14  BLR     48
15  BLR     57
16  BLR     48
17  BLR     50

If assumptions are violated we use non parametric test

when 1 factor(teacher) is influencing the response(marks of the students) then it is called as 1-way anova

In [68]:
mod1=ols('Marks ~ City',data=df).fit()

In [69]:
tbl1=sm.stats.anova_lm(mod1)
tbl1

            df       sum_sq     mean_sq         F    PR(>F)
City       2.0   585.038095  292.519048  2.781548  0.093869
Residual  15.0  1577.461905  105.164127       NaN       NaN

F-value(similiar to zvalue)
<br>

p value=0.09 > 0.05<br>
-> we do not reject the null hypothesis(ho) and the value is statistically insignificant.

In [70]:
# df - degrees of freedom

In [71]:
#since the p value is more than 0.05 , the ho is not rejected

In [72]:
#we conclude that all pair of means are equal.

In [73]:
#city factor does not include the marks

In [74]:
df.shape

(18, 2)

In [75]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd

In [76]:
print(pairwise_tukeyhsd(df.Marks,df.City))

 Multiple Comparison of Means - Tukey HSD, FWER=0.05
=====================================================
group1 group2 meandiff p-adj   lower    upper  reject
-----------------------------------------------------
   BLR    DLI -14.1143 0.0791 -29.7113  1.4827  False
   BLR    MUM   -4.881 0.6754 -19.7004  9.9385  False
   DLI    MUM   9.2333 0.3247  -6.8961 25.3628  False
-----------------------------------------------------

In [78]:
df

   City  Marks
0   MUM     34
1   MUM     57
2   MUM     63
3   MUM     45
4   MUM     50
5   MUM     62
6   DLI     34
7   DLI     37
8   DLI     52
9   DLI     43
10  DLI     47
11  BLR     68
12  BLR     76
13  BLR     50
14  BLR     48
15  BLR     57
16  BLR     48
17  BLR     50

# Two way anova test

In [79]:
gender = ['M','M','M','F','F','F','M','M','F','F','F','M','M','M','M','F','F','F']

In [80]:
df['Gender']=np.array(gender)

In [81]:
df

   City  Marks Gender
0   MUM     34      M
1   MUM     57      M
2   MUM     63      M
3   MUM     45      F
4   MUM     50      F
5   MUM     62      F
6   DLI     34      M
7   DLI     37      M
8   DLI     52      F
9   DLI     43      F
10  DLI     47      F
11  BLR     68      M
12  BLR     76      M
13  BLR     50      M
14  BLR     48      M
15  BLR     57      F
16  BLR     48      F
17  BLR     50      F

In [82]:
mod2=ols('Marks ~ City + Gender',data=df).fit()

In [84]:
tb2=sm.stats.anova_lm(mod2)

In [85]:
tb2

            df       sum_sq     mean_sq         F    PR(>F)
City       2.0   585.038095  292.519048  2.596227  0.109896
Gender     1.0     0.070319    0.070319  0.000624  0.980422
Residual  14.0  1577.391586  112.670828       NaN       NaN

In [94]:
mod3=ols('Marks ~ City * Gender',data=df).fit() #the null hypothesis is that the factor city has no effect on the factor gender on the marks

In [95]:
tbl3=sm.stats.anova_lm(mod3)

In [96]:
tbl3

               df       sum_sq     mean_sq         F    PR(>F)
City          2.0   585.038095  292.519048  2.754921  0.103608
Gender        1.0     0.070319    0.070319  0.000662  0.979892
City:Gender   2.0   303.224919  151.612460  1.427874  0.277792
Residual     12.0  1274.166667  106.180556       NaN       NaN

In [98]:
# since 0.277>0.05 gender does not have any effect on city factor and hence the marks