In [2]:
import numpy as np
import pandas as pd

In [3]:
#   school class            name date_Of_Birth   age  height  weight  address
# S1   s001     V  Alberto Franco     15/05/2002   12    173      35  street1
# S2   s002     V    Gino Mcneill     17/05/2002   12    192      32  street2
# S3   s003    VI     Ryan Parkes     16/02/1999   13    186      33  street3
# S4   s001    VI    Eesha Hinton     25/09/1998   13    167      30  street1
# S5   s002     V    Gino Mcneill     11/05/2002   14    151      31  street2
# S6   s004    VI    David Parkes     15/09/1997   12    159      32  street4

In [4]:
a=[['S1'  , 's001' ,    'V' , 'Alberto Franco'    , '15/05/2002' ,  12   , 173   ,   35 , 'street1'],
['S2' ,  's002'   ,  'V' ,   'Gino Mcneill'   ,  '17/05/2002'  , 12  ,  192  ,    32 , 'street2'],
['S3'  , 's003'   , 'VI'  ,   'Ryan Parkes'  ,  '16/02/1999'  , 13  ,  186   ,   33 , 'street3'],
['S4'  , 's001'  ,  'VI'  ,  'Eesha Hinton'  ,   '25/09/1998'  , 13  ,  167   ,   30 , 'street1'],
['S5'  ,'s002' ,    'V'   , 'Gino Mcneill'  ,   '11/05/2002'  , 14   , 151   ,   31 , 'street2'],
['S6'  , 's004'  ,  'VI'   , 'David Parkes' ,    '15/09/1997'  , 12  ,  159   ,   32 , 'street4']]

In [5]:
df=pd.DataFrame(a,columns=['','school' ,'class' ,'name', 'date_Of_Birth'  , 'age' , 'height' , 'weight' , 'address'])

In [6]:
df

      school class            name date_Of_Birth  age  height  weight  address
0  S1   s001     V  Alberto Franco    15/05/2002   12     173      35  street1
1  S2   s002     V    Gino Mcneill    17/05/2002   12     192      32  street2
2  S3   s003    VI     Ryan Parkes    16/02/1999   13     186      33  street3
3  S4   s001    VI    Eesha Hinton    25/09/1998   13     167      30  street1
4  S5   s002     V    Gino Mcneill    11/05/2002   14     151      31  street2
5  S6   s004    VI    David Parkes    15/09/1997   12     159      32  street4

In [8]:
#q1
grp1=df.groupby(by='school')
grp1

In [19]:
print('Mean-',end='\n')

grp1['age'].mean()

Mean-

school
s001    12.5
s002    13.0
s003    13.0
s004    12.0
Name: age, dtype: float64

In [20]:
print('Min.-',end='\n')
grp1['age'].min()

Min.-

school
s001    12
s002    12
s003    13
s004    12
Name: age, dtype: int64

In [21]:
print('Max-',end='\n')
grp1['age'].max()

Max-

school
s001    13
s002    14
s003    13
s004    12
Name: age, dtype: int64

In [22]:
df

      school class            name date_Of_Birth  age  height  weight  address
0  S1   s001     V  Alberto Franco    15/05/2002   12     173      35  street1
1  S2   s002     V    Gino Mcneill    17/05/2002   12     192      32  street2
2  S3   s003    VI     Ryan Parkes    16/02/1999   13     186      33  street3
3  S4   s001    VI    Eesha Hinton    25/09/1998   13     167      30  street1
4  S5   s002     V    Gino Mcneill    11/05/2002   14     151      31  street2
5  S6   s004    VI    David Parkes    15/09/1997   12     159      32  street4

In [24]:
#q2.
df.groupby(by=['school','class']).size()

school  class
s001    V        1
        VI       1
s002    V        2
s003    VI       1
s004    VI       1
dtype: int64

In [35]:
y

,school,,class,name,date_Of_Birth,age,height,weight,address
0,s001,S1S4,VVI,Alberto FrancoEesha Hinton,15/05/200225/09/1998,25,340,65,street1street1
1,s002,S2S5,VV,Gino McneillGino Mcneill,17/05/200211/05/2002,26,343,63,street2street2
2,s003,S3,VI,Ryan Parkes,16/02/1999,13,186,33,street3
3,s004,S6,VI,David Parkes,15/09/1997,12,159,32,street4

In [42]:
#2.
x=df.groupby(['school','age']).mean()
# y=x.sum().reset_index()
# y.info()
# y[['school','age']]

TypeError: agg function failed [how->mean,dtype->object]

In [ ]:
# #Q7.
#    ord_no  purch_amt    ord_date  customer_id  salesman_id
# 0    70001     150.50  2012-10-05         3005         5002
# 1    70009     270.65  2012-09-10         3001         5005
# 2    70002      65.26  2012-10-05         3002         5001
# 3    70004     110.50  2012-08-17         3009         5003
# 4    70007     948.50  2012-09-10         3005         5002
# 5    70005    2400.60  2012-07-27         3007         5001
# 6    70008    5760.00  2012-09-10         3002         5001
# 7    70010    1983.43  2012-10-10         3004         5006
# 8    70003    2480.40  2012-10-10         3009         5003
# 9    70012     250.45  2012-06-27         3008         5002
# 10   70011      75.29  2012-08-17         3003         5007
# 11   70013    3045.60  2012-04-25         3002         5001

In [ ]:
  # ord_no  purch_amt    ord_date  customer_id  salesman_id
0    70001     150.50  2012-10-05         3005         5002
1    70009     270.65  2012-09-10         3001         5005
2    70002      65.26  2012-10-05         3002         5001
3    70004     110.50  2012-08-17         3009         5003
4    70007     948.50  2012-09-10         3005         5002
5    70005    2400.60  2012-07-27         3007         5001
6    70008    5760.00  2012-09-10         3002         5001
7    70010    1983.43  2012-10-10         3004         5006
8    70003    2480.40  2012-10-10         3009         5003
9    70012     250.45  2012-06-27         3008         5002
10   70011      75.29  2012-08-17         3003         5007
11   70013    3045.60  2012-04-25         3002         5001